body {
background-color: blanchedalmond;
background-repeat: no-repeat;
background-size: cover;
}
.external{
    text-transform: capitalize;
}
.title{
    color: hsl(300, 65%, 49%);
}
.hello{
    font-size: 29px;
    font-family:'Courier New', Courier, monospace;
    font-style:italic;
    font-weight:600;
}
.media{
    text-decoration: underline;
    text-decoration: overline ;
    text-decoration-color: black;
    text-transform: capitalize;
}


.text-color{
    word-spacing: 38px;
    letter-spacing: 25px;
    font-size: 50px;
    line-height: 28px;
    text-align:right;
}

.order-list{
    list-style-type: square;
}

.unorder-list{
    list-style: inside;
    list-style-type: upper-alpha;
}

div.bg-color {
    background-color: blueviolet;
}

div.first{
    opacity: 0.1;
}
div.second{
    opacity: 0.3;
}
div.third{
    opacity: 0.6;
}
div.fourth{
    opacity: 1.1;
}

.external{
    border-style: dotted;
    border-width: 4px;
    border-color:black ;
}

.work{
    margin-top: 25px;
    margin-bottom:25px;
    margin-right:30px;
    margin-left:30px ;
}