 body {
background-color: rgb(246, 104, 27);
background-repeat: no-repeat;
background-size: cover;
}


.title{
    font-size: large;
    font-weight: 600;
    font-family: cursive;
    font-style: italic;
}

.external{
    text-transform:capitalize;
}

.media{
    text-decoration: dotted;
}

.letter{
    color: chocolate;
}

.work{
    color: blueviolet;
}

.para{
    color: black;
}

.color{
  word-spacing:90px;
  letter-spacing:40px;
  line-height: 80px;
  text-align: center;
}

.order-list{
    list-style-type:disc;
}

.order-list{
    list-style-type: square;
    list-style: inside;
}

div.bg-color{
    background-color: blueviolet;
}

div.first{
    opacity: 0.2;
}

div.second{
    opacity:0.4;
}

div.third{
    opacity:0.6;
}

div.fourth{
    opacity: 1.1;
}

.indigo{
border-color: rgb(237, 59, 59);
border-width: 15px;
border-style: dashed;
}

.work{
  margin-top: 45px;
 margin-bottom: 45px;
 margin-left: 50px;
 margin-right: 50px;
}

.border{
    color: black;
    height: 600px;
}

.individual{
    height: 280px;
    top: 90px;
    right: 150px;
}

.different{
    height: 160px;
    bottom:280px;
}

.someone{
    height: 300px;
    right:250px;
}

.grid-container{
    display: grid;
    grid-gap:25px 50px;
   grid-template-columns: auto auto;
   background-color: rgb(36, 32, 28);
   padding: 15px;
   margin-bottom: 20px;
}

.grid-item{
    background-color: darkcyan;
    border: 30px solid srgb(51, 142, 89);
    padding: 20px;
    font-size: 35px;
    text-align: center;
}

.limited{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: chocolate;
    padding: 20px;
    width:50px;
    height: 800px;
}

.flex-item{
    background-color: blue;
    border: 2px solid rgb(119, 15, 101);
    padding: 30px;
    font-size: 30px;
    text-align: center;
    margin: 30px;
}