body {
background-image: url(assets/flower.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.external{
    text-transform: capitalize;
}
.title{
    color: hsl(300, 65%, 49%);
}
.hello{
    font-size: 29px;
    font-family:'Courier New', Courier, monospace;
    font-style:italic;
    font-weight:600;
}
.media{
    text-decoration: underline;
    text-decoration: content ;
    text-decoration-color: black;
}